[submodule "geo-viz-engine"]
	path = geo-viz-engine
	url = https://github.com/WindWang2/geo-viz-engine.git
[submodule "well-log-engine"]
	path = well-log-engine
	url = https://github.com/WindWang2/well-log-engine.git
[submodule "haiyou-visualization"]
	path = haiyou-visualization
	url = https://github.com/WWX9/haiyou-visualization.git
